<a name="location"></a>
<section id="location">

  <div id="map">
  </div>


  <div id="address">
    {{ location.address }}
  </div>


</section>


<script type="text/javascript">
    function initMap() {
      var myLatLng = {lat: {{ location.latitude }}, lng: {{ location.longitude }}};

      var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        zoom: 15
      });

      var marker = new google.maps.Marker({
        position: {lat: {{ location.latitude }}, lng: {{ location.longitude }}},
        map: map,
        title: 'Título do marcador',
      });

    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ location.google_maps_api_key }}&callback=initMap">
</script>
