
{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/members.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/publications.css" %}" />

</head>

<body>

<div id="border"></div>

<header>
  <div id="logo">
    <a href=""><img src="{% static "img/default.png" %}" alt="Logo" /></a>
  </div>

  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Início</a></li>
      <li><a href="">Notícias</a></li>
      <li><a href="">Membros</a></li>
      <li><a href="">Linhas de pesquisa</a></li>
      <li><a href="{% url 'publications_index' %}">Publicações</a></li>
    </ul>
  </nav>
</header>

<div id="content">
  {% block content %}{% endblock %}
</div>
<footer>
</footer>

</body>

</html>
