
{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Publicações</title>
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/publications.css" %}" />


</head>

<body>

<div id="border"></div>

<header>
  <div id="logo">
    <a href=""><img src="{% static "img/default.png" %}" alt="Logo" /></a>
  </div>

  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Voltar</a></li>
    </ul>
  </nav>
</header>

<div id="content">

<section id="publications">

<h2>Publicações</h2>

{% if publications %}

<div id="publications-list">

  {% for publication in publications %}
    <div class="publication">
      <h4>{{ publication.title }}</h4>
      <p>publicado em: {{ publication.publication_local }}</p>
      <p>Link: <a href="#">{{ publication.publication_url }}</a></p>
      <p><a href="#">Download</a></p>
    </div>
  {% endfor %}

</div>

{% endif %}

</section>

</div>
<footer>
</footer>

</body>

</html>
